@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.input-suggestion {
  font-family: "Lato", sans-serif;
  width: 500px;
  height: 60px;
  background-color: white;
  border-bottom: 1px black dotted;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  margin-left: 5rem;
}
